
:root /*Палитра цветов*/{
    --main-text-color: #0c214c;
    --main-background-red-color: #f8a7ad;
    --background-lighter-color: #fcd0d5;
    --main-background-blue-color: #bfd4ff;
    --background-lighter-color2: #d5e3ff;
    --scrollbar-color: #9cbbff;
    --main-blue-color: #0957f2; 
    --main-red-color: #f11328;
    --shadows-black: #8f8f8f;
    --main-white-color: #f7f7f7;}

body /*Отступы, шрифт по умолчанию*/ {
  font-family: 'PT Root UI',Arial;
  margin: 0 ;  overflow: overlay;
  background:linear-gradient(90deg, var(--main-background-red-color), var(--main-background-blue-color));
  color:var(--main-text-color)}

.body2,.container,.sidebar {      
  padding: 4px;
  margin: 4px calc(14.5vw - 35px) 4px calc(14.5vw - 35px)}

/*Настройки скролл бара*/
body::-webkit-scrollbar { 
  width: calc(5.8px + 0.5vw);               /* ширина scrollbar */}
body::-webkit-scrollbar-track {
  background: transparent; /* цвет дорожки */}
body::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-color);    /* цвет плашки */
  border-radius: 20px;       /* закругления плашки */
  border: calc(0.9px + 0.15vw) solid #bad1fd;  /* padding вокруг плашки */}

@font-face /* Шрифт основного текста жирный*/{
  font-family: 'PT Root UI';
  src: 
      url(../Fonts/JustTextBold.ttf) format('woff2'),
      url(../Fonts/JustTextBold.woff) format('woff'),
      url(../Fonts/JustTextBold.ttf) format('ttf');
  font-weight: bold;
  font-style: normal;}
  @font-face /* Шрифт основного текста*/{
    font-family: 'Montserrat Alternates Regular';
    src: 
      url(../Fonts/HeadingsRegular.ttf) format('ttf'),
      url(../Fonts/HeadingsRegular.woff) format('woff'),
      url(../Fonts/HeadingsRegular.woff2) format('woff2');
    font-weight: 400;
    font-style: normal;}
@font-face /* Шрифт текста заголовков жирный*/{
  font-family: 'Montserrat Alternates';
  src: 
      url(../Fonts/HeadingsBold.ttf) format('woff2'),
      url(../Fonts/HeadingsBold.woff) format('woff'),
      url(../Fonts/HeadingsBold.ttf) format('ttf');
  font-weight: bold;
  font-style: normal;}
@font-face /* Шрифт основного текста*/{
    font-family: 'PT Root UI';
    src: 
      url(../Fonts/JustTextRegular.ttf) format('ttf'),
      url(../Fonts/JustTextRegular.woff) format('woff'),
      url(../Fonts/JustTextRegular.woff2) format('woff2');
    font-weight: 400;
    font-style: normal;}
@font-face /* Шрифт основного текста тонкий*/{
  font-family: 'PT Root UI';
  src: 
      url(../Fonts/JustTextLight.ttf) format('woff2'),
      url(../Fonts/JustTextLight.woff) format('woff'),
      url(../Fonts/JustTextLight.ttf) format('ttf');
  font-weight: 300;
  font-style: normal;}  
@font-face /* Шрифт текста заголовков тонкий*/{
  font-family: 'Montserrat Alternates';
  src: 
      url(../Fonts/HeadingsLight.ttf) format('woff2'),
      url(../Fonts/HeadingsLight.woff) format('woff'),
      url(../Fonts/HeadingsLight.ttf) format('ttf');
  font-weight: lighter;
  font-style: normal;}
  
/*Настройки градиентных кнопок*/
.btn-hover { /*Общие настройки*/ 
  width:35%;
  color: var(--main-white-color);
  text-align:center;
  border: none;
  background-size: 300% 100%;
  border-radius: 1vw;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  font-family: 'PT Root UI'; }
.btn-hover:hover { /*При наведении*/
  background-position: 100% 0;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;}
.btn-hover:focus { /*При фокусе*/
  outline: none;}

/*Настройка изменения курсора*/
.menubutt,#logo,.btn-hover,a:-webkit-any-link,.stolbmain:hover,.stolbbutt:hover,#stolblog,summary  {
  cursor: pointer;} 

/*Настройка ссылок*/
a{padding:0; margin:0; height:auto; width: auto; ;
text-decoration: none;}
a:active,a:visited,a:-webkit-any-link,.menubutt, #logo,#stolblog  {
  color:var(--main-text-color);}
input{
  color:var(--main-blue-color)
}
/*Главное меню для комп. версии*/
.menuversioncomp,.test,.textpluses,.bn39 .bn39span {
  display: flex;}
.menubutt, #logo,hr {
  border: none;}
.menubutt, #logo,.btn-hover.color-2{
  margin-top:0.8vw;
  font-size:calc(11px + 0.8vw);
    }
.menubutt, #logo{
  background-color: unset;
}
.menubutt{
  padding-left: calc(5px + 3vw);
}
#logo,h2,.bobo,#stolblog,#logomob{
  font-variant-ligatures: none;}
.btn-hover.color-2 {
  background-image: linear-gradient(to right, #a81524, var(--main-red-color), #cf1f31, #77101a);
  box-shadow: 0px 2px 8px 0px  #ffa0aa;
  width:12%; 
  margin-left: auto; 
  border-radius: 0.6vw;
  font-weight: 700;
  height:calc(12px + 1.5vw);}

#btnsmenu {display:contents}

#logo:hover{
  -webkit-filter: drop-shadow(0px 0px 0px );
  filter: drop-shadow(-1.6px 1.6px 0.7px var(--shadows-black));}
.menubutt:hover{
  text-shadow:  -1.5px 1.5px 1.3px var(--shadows-black);}
hr /*Полоса под меню*/{
  margin: 1.2vw 0;
  background:var(--main-background-blue-color);
  height: 1px;}
   .logo1 {
    font-family:'Montserrat Alternates Regular'; 
    font-weight:400;
    color:var(--main-blue-color);
   }



#MrBull/*Бульдог 1 для комп. версии*/{
  position:absolute;
  height: calc(210px + 19vw);
  left:calc(20px + 58vw);
  margin-top: calc(20px + 0.3vw);}

input,input::-webkit-input-placeholder,#warningcomp,#warningmob,.menubutt
{
  font-family: 'PT Root UI';
}
h1,#logo,h2,.num ,#stolblog {
  font-family: 'Montserrat Alternates';
  font-weight: 700;}
#h1text  /*Текст под главным заголовком*/{
  font-size:calc(11px + 0.9vw);
  margin: 2.5% 0 3% 0;}

h2,h1,#h1text,#cont,.h2text,.list1 {
  line-height: 1.3;}

h1,#h1text,#cont {
  margin-right: 46%;}
h1 /*Главный заголовок*/{
  font-size:calc(13px + 1.4vw);}

/*Форма регистрации*/
#cont,input,.num {
  border-radius: 1vw;}
#cont {
background-color: var(--background-lighter-color);}
input{
  margin: 3% 0 0 4%;
  background-color: var(--main-white-color);
  width:53%;
  border-color:#ffc5ca;
  border-style: solid;
  padding-left:3%;}
input::-webkit-input-placeholder {
  color:#ffa0a8;}
input:focus{
  outline: none; /*for chrome*/
  border-color:var(--main-blue-color);
  box-shadow:0 0 0.5rem #508aff;}
#warningcomp,#warningmob{
  margin: 0 4% 0 4%;
  padding: 1% 0 0.7vw 0;
  color:#ff8993;
  font-size:calc(8px + 0.5vw);}
#warningcomp,#warningmob,.num,.footbtn{
  text-align:center;

  }
input, .btn-hover.color-1
{
  height: 3.9vw; 
  font-size:calc(10px + 0.9vw);
}
.btn-hover.color-1 { /*Кнопка регистрации*/
  background-image: linear-gradient(to right, #143371, var(--main-blue-color), #1746e2, #143371);
  box-shadow:  0px 2px 8px 0px  rgba(10, 22, 1000, 0.45);
  margin: 3% 0 0 3%;
  font-weight: 700;}

/*Основные заголовки*/
h2{
  margin-top: 6.5vw;
  font-size:calc(13px + 0.8vw)}
.wave{
  text-decoration: underline;
  text-decoration-style: wavy;
  text-decoration-color: var(--main-blue-color);}
.h2text,.list1 /*Текст под главным заголовком*/{
  margin: 2% 0 3% 0;
  font-size:calc(10px + 0.7vw);}

/*Блоки для плюсов сайта*/
.test { /*Обобщение блоков*/
  flex-flow: row wrap;
  justify-content: space-between;}
.num /*Блоки с цифрами*/{
  background-color: var(--main-background-blue-color);
  margin-top:calc(25px + 0.2vw);
  height: calc(25px + 2.1vw);
  width: calc(25px + 2.1vw);
  font-size: calc(15px + 1.3vw);
  line-height: calc((25px + 2.1vw));
  color:var(--main-blue-color);}
.textpluses /*Сам блок*/{
  font-size: calc(8px + 0.5vw) ;
  width:31%;
  padding:calc(5px + 0.8vw);
  margin:6px;
  text-align: left;
  overflow: hidden;
  border-radius: 1.5vw;
  background-color: var(--background-lighter-color);}
.num,.textplus{
  top: 0;
  bottom: 0;
  margin: auto 0;
}
.textplus{ /*Текст внутри блока*/
  padding-left: calc(30px + 2.9vw);
  opacity:1;
 }

/*Настройки списков*/
.list1 {
margin-left:-40px;}
.list1 li {
  background: url("../Pictures/Yes.png") no-repeat 7px 7px transparent; /* <-- change `left` & `top` too for extra control */
  background-position:left;
  list-style: none;
  padding-left:  calc(33px + (40 - 33) * (100vw - 600px) / (1200 - 600));}
.list1 p {
  font-size:  calc(7px + (9 - 7) * (100vw - 600px) / (1200 - 600));}
#h2textmarg /*Отступ перед 2 бульдогом*/{
  margin-right: calc(45% - 120px) }
#MrBull2, .num,#xz1, .btn-9:after{
  position:absolute;

}
#MrBull2/*Бульдог 2 для комп. версии*/{
  height: 100%;
  left:calc(70% + 40px);
}
#bull,.textpluses,.bn39,.custom-btn  {
  position:relative;
}

.bn39 {
  background-image: linear-gradient(90deg, var(--main-blue-color), var(--main-red-color));
  border-radius: calc(3px + 0.8vw);
  box-sizing: border-box;
  color: var(--main-white-color);
  height: calc(32px + 3.2vw);
  font-size: calc(13px + 1.4vw);
  font-weight: 700;
  padding: calc(3px + 0.4vw);
  text-decoration: none;
  width: 7em;
  z-index: 2;
  font-family: "Montserrat Alternates";}
.bn39:hover {
  color: var(--main-white-color);}
.bn39 .bn39span {
  align-items: center;
  background: var(--main-text-color);
  border-radius: calc(3px + 0.8vw);
  justify-content: center;
  height: 100%;
  transition: background 0.5s ease;
  width: 100%;}
.bn39:hover .bn39span {
  background: transparent;}
.custom-btn {
  height: calc(32px + 3.2vw);
  color: #fff;
  border-radius: calc(3px + 0.8vw);
  padding: 10px 25px;
  width: 7em;
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 700;
  background: transparent;
  cursor: pointer;
  font-size: calc(13px + 1.4vw);
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
  7px 7px 20px 0px rgba(0,0,0,.1),
  4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;}
  .btn-9 {
    border: none;
    transition: all 0.3s ease;
    overflow: hidden;
  }
  .btn-9:after {
    content: " ";
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
     background-color: #ffffff;
  background-image: linear-gradient(-90deg, var(--main-red-color), var(--main-blue-color) );
    transition: all 0.7s ease;
  }
  .btn-9:hover {
    background: transparent;
    box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
                -4px -4px 6px 0 rgba(116, 125, 136, .2), 
      inset -4px -4px 6px 0 rgba(255,255,255,.5),
      inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
    color: #fff;
  }
  .btn-9:hover:after {
    -webkit-transform: scale(2) rotate(180deg);
    transform: scale(2) rotate(180deg);
    box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
                -4px -4px 6px 0 rgba(116, 125, 136, .2), 
      inset -4px -4px 6px 0 rgba(255,255,255,.5),
      inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
  }



/*Футер*/
.stolbbutt{
    margin-top: 0.5vw; 
    white-space: pre-wrap;}
.stolbmain:hover,.stolbbutt:hover{
    text-shadow:  -1px 1px 1.3px var(--shadows-black);}
.stolbmain:hover {
    color:var(--main-red-color)}
.stolbbutt:hover {
    color: var(--main-blue-color);}
#footerlinks,#footerlinks:visited,.stolbmain,.stolbbutt,.bobo,.footbtn  {
    color :rgb(134, 134, 134);}
.bobo { 
  width:100%;     
  font-size: calc(0.7vmax + 7px);
  font-weight: lighter;
  margin-top: calc(18px + 2.3vw);
  padding: 30px calc(14.5vw - 35px) 30px calc(14.5vw - 35px);
  height:fit-content;
  background-color: rgba(255, 255, 255, 0.2);}
.stolb, .inst,.vk,.telef,.custom-btn,#MrBull2,#MrBull,summary  {
  display: inline-block;}
.stolb {
  width:fit-content;
  height:90%;
  margin:0px;
  padding: 0px;}
.footbtn /*Кнопка почты и сайта*/ {
  width: calc(70px + 2.8vw);
  padding: 0.3vw 0 0.3vw 0;
  background-color: rgb(33, 33, 33, 0.05);
  border-radius: 100px;
  margin-top: 0.5em;}
.footbtn:hover {
  background-color: rgb(33, 33, 33, 0.10);
  color:rgb(85, 85, 85);}
#stolblog,.footbtn , .stolbmain,.stolbbutt,.custom-btn,.menubutt, #logo,input,summary,details p{
  transition: all 0.3s ease-in-out;}
#stolblog ,.stolbmain, #stolbcont{
  margin-bottom: 1vw;  }
.stolbmain, #stolbcont {
  font-size: calc(0.72vmax + 7.2px);}
.stolbmain, #stolbcont
{
  font-family: 'Montserrat Alternates';}
#stolblog /*Логотип Профлекс*/{
  
  font-size: calc(0.9vmax + 14px);
  font-style: italic;}
#stolblog:hover/*Наведение на логотип*/{
  -webkit-filter: drop-shadow(0px 0px 0px );
  filter: drop-shadow(-1.6px 1.6px 0.7px var(--shadows-black));}
*, *:before, *:after {
  box-sizing: border-box;}
.inst,.vk,.telef /*Размеры иконок*/ {
  height: 50px;
  width: 50px;
  margin-top: 0.5em;}
.inst /*Иконка инсты*/{
  background-image: url("../Pictures/inst.png");}
.telef /*Иконка телефона*/{
  background-image: url("../Pictures/tele.png");}
.vk /*Иконка вк*/{
  background-image: url("../Pictures/vk.png");}

#xz2{     
  text-align: right;}
#buttonstolb {    
  padding-left:2em}
#buttonstolb1 {  
    padding-left:10em}

    .footbtn,.bn39 /*Кнопка почты и сайта*/ {
      display: block;}




/*Скрытие элементов, присущих только моб. версии*/
#MrBullTele,#MrBullTele2,.menuversionmob2,#warningmob,#stolb3mobo,summary::-webkit-details-marker,summary::marker {
  display:none;}


/*МЕДИА ЗАПРОСЫ*/

/*Масштаб бульдогов*/
@media (max-width:1067px) {
  #MrBull/*Бульдог 1 для комп. версии*/{
    margin-top: calc(32px + 0.3vw);}
  #MrBull2/*Бульдог 2 для комп. версии*/{
    margin-top:2vw;
    height:85%;
    left:calc(70% + 45px);}
  
#h2textmarg /*Отступ перед 2 бульдогом*/{
margin-right: calc(45% - 120px) }}
/*Настройки для ширины когда нужно 2 строки "Почему это важно"*/
@media (max-width: 900px) {
  .test > div {
    width:47%;
    margin-bottom:2%;}
  .textplus{
    padding-left: calc(45px + 2.7vw);}
  .textpluses{
    padding: 0 calc(3px + 2vw) 0 calc(30px+4vw);
    font-size: calc(10px + 0.5vw) ;}
  .btn-hover.color-1,input,#cont{
    border-radius: 1vw;}
  #MrBull2/*Бульдог 2 для комп. версии*/{
    margin-top:calc(3.2vw + 35px);
    height:calc(85% - 50px);
    left:calc(70% + 5px);}
  #h2textmarg /*Отступ перед 2 бульдогом*/{
    margin-right: calc(50% - 80px); }
  .btn-hover.color-2{border-radius: 0.7vw;}
  .num{
    width: calc(25px + 2.1vw);
    height: 70%;
    font-size: calc(5px + 4vw);
    color:var(--main-blue-color);
    min-width: 53px;
    display: flex;
    justify-content: center;
    flex-direction: column;}}
/*Масштабы для футера*/
@media (max-width:800px) {
  #buttonstolb {
    padding-left:1em;}
  #buttonstolb1 {  
    padding-left:5em;}}
/*Настройки для ширины когда нужна 1 строка "Почему это важно"*/
@media (max-width: 600px) {
  .test > div {
    width:100%;
    margin:5px; }
  .num{ 
    height: 79%;
    min-width: 0px;
    width: calc(40px + 2.1vw);
    font-size: calc(5px + 5.5vw);}}
/*Настройки предупреждений...*/
@media ((max-width:702px) and (min-width:601px)) {
    #warningcomp{
      display:none;}
    #warningmob{
      display:block;
      } }


/*Настройки для маленьких экранов, где нужно переносить картинки и новое меню*/
@media (max-width: 600px) {
  #stolbcont, .stolbmain, .bobo  {
    font-size: calc(2.5vw + 5px);}
  #buttonstolb,#buttonstolb1,#warningcomp {
    display: none;}
  .stolbmob, .footbtn {
    display: inline-block;}
  .stolbmob {
    margin: 2vw 0 2vw 0;
    padding: 0 0.5em 0 0.5em;}
  #kkkk, #mobiicon, #aaa, #stolblog{
    text-align: center;}
  .footbtn {
    padding: 5px 3px 5px 3px;
    margin-top:10px;
    width: calc(80px + 2.8vw);}
  #aaa,.stolb {
    width: 100%;}
  #mobiicon,#stolblog  {
    margin-bottom: 4vw;}
  #stolb3mobo {
    display: inline;}
  #stolblog {
    font-size: calc(5vw + 8px);}
  #xz1 {
    position:static;}
  #xz2{
    text-align: left;}


  #MrBull  {
    display: none;}

    #MrBull2 {
      display: none;
    }

  h1{
    font-size:calc(9.8px + 2.2vw);
    margin-right: 0%;
    line-height: 1.3;
    text-align: center; }

  #h1text{
    font-size:calc(10px + 1.7vw);
    margin-right: 0%;
    line-height: 1.3;
    margin-bottom: 3vw;
    text-align: center}
  
  #cont {
    overflow: hidden;
    border-radius: 1.9vw;
    margin-right: 0%;}
  
  input{
    width:50%;
    border-radius:1.3vw;
    font-size:calc(11.5px + 1.4vw);
    height: calc(18px + 3vw);}
  
    #warningcomp{
      display: block;
      font-size:calc(9px + 1vw);}
  #warningmob{
    font-size:calc(9px + 1vw);}
  
  .btn-hover.color-1  {

    height: calc(20px + 3vw);
    border-radius: 1.3vw;
    font-size:calc(11.5px + 1.4vw); }

  html{
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none}

    h2 {
      font-size:calc(9.4px + 2vw);
    }
    .h2text, .list1 {
      font-size:calc(3px + 1.2vmax);
      font-size:calc(9.2px + 1.5vw);
    }
  
    #h2textmarg {
      margin:0px;
    }
  
  body::-webkit-scrollbar {
    width: 0;
    height: 0;}

  #MrBullTele {
    display: block;
    margin: auto;
    height: calc(225px + 26vw);
    left:calc(20px + 58vw);
    margin-top: calc(20px + 2vw);}
    


    #MrBullTele2 {
      display:block;
      margin: auto;      height: calc(150px + 26vw);
      margin-top: calc(20px + 2vw);}

#logo {
  display:flexbox;
}
    .menuversioncomp {display: grid;
    margin-left: auto;
  margin-right: auto;
text-align: center;}
#logo {
  font-family: 'Montserrat Alternates';  font-size:calc(24px + 0.8vw);
  margin-top:2vw;
  margin-bottom: 1vw;

}
.menubutt{font-size:calc(14px + 0.8vw);
  padding:0 6px 0 6px;


}


#btnsmenu {
  display: inline;
}
.btn-hover.color-2 { display: none;}


hr {
  margin: 10px;
}




.textplus {
  font-size:calc(8.2px + 1.3vw);

}

#menubutts
{   
  text-align: center; 
}
hr{
  background:repeating-linear-gradient(-90deg, var(--main-background-red-color), var(--main-background-blue-color));

}
}



@media (max-width:400px) {
  #warningcomp{
    display:none;}
  #warningmob{
    display:block;}
}
